body {
    background: rgb(221, 221, 224) !important;

    header {
        .navbar-collapse {
            width: 100%;
            max-width: 170px;
        }

        .container-fluid {
            .navbar-brand {
                display: flex;
                align-items: center;
                gap: 20px;

                span {
                    font-weight: 600;
                }
            }

            input {
                max-width: 600px;
                height: 37px;
                background-color: #eeeeee;
            }

            input::placeholder {
                text-align: center;
                font-size: 20px;
            }

            ul {
                li {
                    font-size: 20px;
                }
            }
        }
    }
}

main {
    h1 {
        font-size: 35px;
        margin-bottom: 25px;
    }

    h2 {
        font-size: 30px;
        margin-bottom: 20px !important;
    }

    .display-4 {
        margin-bottom: 30px !important;
    }

    p.lead {
        margin-bottom: 30px !important;
    }

    .banner {
        .banner-wrap {
            box-shadow: .5rem .5rem 2.5rem 1.5rem rgba(var(--bs-body-color-rgb), .15) !important;

            a.btn {
                background: #e45a50;
                border: none;
                border-radius: 0;
                transition: all .3s;

                &:hover {
                    transform: scale(1.1);
                    border: none;
                }
            }
        }
    }

    .container-courses {
        h2 {
            margin-bottom: 20px !important;
        }

        .list-button-courses {
            a {
                font-weight: 700 !important;
                transition: .3s;

                &:hover {
                    background: #6ccea0 !important;
                    color: white !important;
                }
            }
        }

        .row {
            gap: 30px;

            .col {
                margin-top: 0 !important;
                width: calc(25% - 23px);

                @media (max-width: 980px) {
                    width: calc(50% - 15px);
                    flex-wrap: wrap !important;
                }

                .card-title {
                    a {
                        font-size: clamp(20px, 32 / 1440 * 100vw, 32px);
                    }
                }

                img {
                    max-height: 260px;
                    height: 100%;
                    object-fit: fill;
                }
            }
        }
    }

    .related-course {
        img {
            max-height: 260px;
            height: 100%;
            object-fit: fill;
        }
    }

    &.add-courses-page {
        .container {
            .сol-input-info {
                display: flex;
                flex-direction: column;
                line-height: 1.3;

                input, textarea {
                    padding: 10px;
                    font-size: 16px;
                }

                textarea {
                    min-height: 80px;
                }

                p {
                    line-height: 1.5;
                    font-size: 16px;
                    background: white;

                    span {
                        background: none !important;
                    }
                }

                pre {
                    margin: 15px 0;
                    code {
                        display: block;
                        background-color: white;
                        color: black;
                        width: 100%;
                        padding: 0 10px 12px 15px;

                        &:before {
                            content: "";
                            background-repeat: no-repeat;
                            background-size: contain;
                            height: 27px;
                            display: block;
                            margin-bottom: 10px;
                            background-color: #353d46;
                            width: calc(100% + 25px);
                            margin-left: -15px;
                        }
                    }
                }

                h2, h3, h4, h5 {
                    line-height: 1.3;
                }
            }
        }
    }
}

.new-course {
    #courses-body-content {
        #title_wrap {
            input {
                padding: 3px 8px;
                font-size: 1.2em;
                line-height: 100%;
                height: 1.9em;
                width: 100%;
                outline: 0;
                margin: 0 0 15px;
                background-color: #fff;
            }
        }

        .container-img {
            display: flex;
            margin: 25px auto;
            justify-content: center;
            flex-wrap: wrap;
            gap: 20px;

            h3 {
                width: 100%;
                font-size: 1.6em;
            }
        }

        button {
            background: green;
            border: none;
            border-radius: 0;
            transition: all .3s;
            padding: 20px 40px;
            color: white;

            &:hover {
                opacity: 0.9;
                border: none;
            }
        }
    }
}

.new-course {
    #courses-body-content {
        #title_wrap {
            input {
                padding: 3px 8px;
                font-size: 1.2em;
                line-height: 100%;
                height: 1.9em;
                width: 100%;
                outline: 0;
                margin: 0 0 15px;
                background-color: #fff;
            }
        }

        .container-img {
            display: flex;
            margin: 25px auto;
            justify-content: center;
            flex-wrap: wrap;
            gap: 20px;

            h3 {
                width: 100%;
                font-size: 1.6em;
            }
        }

        button {
            background: green;
            border: none;
            border-radius: 0;
            transition: all .3s;
            padding: 20px 40px;
            color: white;

            &:hover {
                opacity: 0.9;
                border: none;
            }
        }
    }
}

footer {
    background: #1B1B1B;

    .title-footer {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .list-courses {
        gap: 40px;

        li {
            a {
                font-size: 25px;
            }
        }
    }
}

